.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
node_modules/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
code-groovy-*.vsix
*.vsix
.github/**
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
